<h1>Diary一覧</h1>
<table>
  <% @diarys.each do |diary| %>
    <div class="diarys_list">
      <%= diary.content %>
      <%= link_to '詳細', diary_path(diary.id) %>
    </div>
  <% end %>
</table>
<%= link_to 'つぶやく', new_diary_path %>
