html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
li{
    list-style:none;
}
ul{
    padding:0;
}
.container{
    margin-top:20px;
}
.contents{
  // border: 1px solid black;
  margin:0 15px;
  padding:10px 25%;
}
.dialies_list{
  padding:10px 10%;
  margin:5px 0px;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

}
.diaries_link{
  margin-top:5px;
}
footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  bottom: 0;
  margin-top: 50px;
}
